@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Lora:400,700,400italic,700italic|Oswald:400,700,300|Merriweather:400,300,700,900,300italic,400italic,700italic,900italic);
/*
   Mini Reset
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body,
figure,
h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

/*
   Typography
   ========================================================================== */
.font--oswald {
  font-family: 'Oswald'; }

.font--lato {
  font-family: 'Lato'; }

.font--lora {
  font-family: 'Lora'; }

.font--merriweather {
  font-family: 'Merriweather'; }

h1 {
  text-transform: uppercase; }

p + p {
  margin-top: 1em; }

/*
   Scaffolding
   ========================================================================== */
.pageWrapper {
  margin: 0 auto;
  max-width: 960px; }

article, footer {
  margin: 0 5% 5%; }

/*
   Masthead
   ========================================================================== */
.masthead {
  position: relative;
  background-color: #CEC7DF;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px; }
  .masthead .edition {
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    letter-spacing: 3px; }

.pageTitle {
  position: relative;
  font-weight: 100;
  font-size: 70px;
  color: #000;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 100;
  display: inline-block; }
  .pageTitle br {
    display: none; }

/*
   Barbie
   ========================================================================== */
.barbie {
  margin-top: 10px;
  color: #5f5d66;
  text-align: center;
  position: relative;
  z-index: 200; }
  .barbie h1 {
    font-style: italic;
    font-weight: bold;
    text-transform: inherit;
    font-size: 36px;
    margin-bottom: 5px;
    margin-top: 0; }
  .barbie p {
    font-size: 19px;
    margin: 0 15px; }

/*
   featuredContent
   ========================================================================== */
.featuredContent figure {
  margin-bottom: -140px;
  position: relative; }
.featuredContent h1 {
  color: #fdcd84;
  font-size: 75px;
  font-weight: 400;
  line-height: 1;
  margin: 0; }
.featuredContent h5 {
  color: #cbb8a0;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 3px;
  text-indent: 5px; }
.featuredContent p {
  font-size: 25px;
  font-weight: 100; }
.featuredContent h1, .featuredContent h5, .featuredContent p {
  position: relative; }

/*
   Lobster
   ========================================================================== */
.lobster h1 {
  font-weight: 400; }

/*
   Bullets
   ========================================================================== */
/*
   Abbey Road
   ========================================================================== */
/*
   Immigration
   ========================================================================== */
@media screen and (min-width: 744px) {
  .pageWrapper {
    width: 90%; }

  article, footer {
    margin: inherit; }

  /*
     Grid
     ========================================================================== */
  /* GRID */
  .g-row {
    width: 100%;
    margin: 0 auto;
    zoom: 1; }

  .g-row:before,
  .g-row:after {
    content: " ";
    display: table; }

  .g-row:after {
    clear: both; }

  .g-col {
    float: left;
    min-height: 1px;
    position: relative;
    clear: none; }

  .g-col:first-child {
    margin-left: 0; }

  .g-col + .g-col:last-child {
    float: right; }

  .g-col + .g-col.end {
    float: left; }

  .g-half {
    width: 50%; }

  .g-third {
    width: 38.54166666666667%;
    /* 370 / 960 */ }

  .g-twoThirds {
    width: 60.41666666666666%;
    /* 580 / 960 */ }

  /*
     Masthead
     ========================================================================== */
  .masthead {
    position: relative;
    height: 142px;
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
    text-align: left; }
    .masthead:before {
      content: '';
      background-color: #CEC7DF;
      position: absolute;
      width: 100%;
      height: 880px;
      right: 55%; }
    .masthead .edition {
      position: absolute;
      right: 0;
      bottom: 0;
      color: #b0aeb8; }

  .pageTitle {
    font-size: 209px;
    line-height: 0.8;
    color: #fff;
    margin-top: 30px; }
    .pageTitle br {
      display: inherit; }

  /*
     Barbie
     ========================================================================== */
  .barbie {
    margin-top: 200px;
    width: 38.54166666666667%;
    /* 370 / 960 */ }

  /*
     Featured
     ========================================================================== */
  .featuredContent {
    width: 60.41666666666666%;
    /* 580 / 960 */ }
    .featuredContent h1 {
      font-size: 55px; }
    .featuredContent h1, .featuredContent h5, .featuredContent p {
      margin-left: 14%;
      position: relative; }

  /*
     Staying afloat / Lobster
     ========================================================================== */
  .lobster {
    width: 16.666666666666666%;
    /* 160 / 960 */ }

  /*
     Bullets
     ========================================================================== */
  .bulletsContainer {
    width: 83.33333333333334%;
    /* 800 / 960 */ }

  /*
     Immigration
     ========================================================================== */
  .immigration {
    width: 75%;
    /* 720 / 960 */ }

  /*
     Movie Review
     ========================================================================== */
  .movieReview {
    width: 25%;
    /* 240 / 960 */ } }
@media screen and (min-width: 960px) {
  /*
     Masthead
     ========================================================================== */
  .masthead:before {
    height: 1010px; }

  .pageTitle {
    font-size: 279px; }

  /*
     Barbie
     ========================================================================== */
  .barbie {
    margin-top: 310px; }
    .barbie figure {
      left: -8%;
      position: relative; }

  /*
     Featured
     ========================================================================== */
  .featuredContent h1 {
    font-size: 75px; }
  .featuredContent figure {
    left: -15%;
    width: 150%;
    margin-bottom: -190px; } }
